<h2>Add Event</h2>

<form class="form">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" [(ngModel)]="event.title" name="title">
  </div>

  <div>
    <label for="time">Time</label>
    <input id="time" type="text" [(ngModel)]="event.time" name="time">
  </div>

  <div>
    <label for="type">Type</label>
    <input id="type" type="text" [(ngModel)]="event.type" name="type">
  </div>


  <div>
    <button type="button" (click)="addEvent()">Add</button>
  </div>


</form>
